<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="30" >
    <Appenders>
        <Console name="STDOUT"  target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{35} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <logger name="org.apache.kafka" level="error" />

        <Root level="INFO">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>
